

// Primary Colors 
// Styleguide Settings.Colors 

$black: #000;
$main-color: $black;

$accent: #D54663;
$gray: #f8f8f8;
$blue: #3467AF;

// Notifications Colors
// Styleguide Settings.Notificationscolors
$lightred: #CB5F55;
$lightblue: #6F94C7;
$lightgreen: #70B771;
$lightorange: #FAA922;

// Design Elements 
// 
// Styleguide Settings.Design 
$borderradius: .25rem;

// Fonts
// 
// The main font on the project. 
$default-font: "FuturaPT-Light", sans-serif;

// Styleguide Settings.Fonts
$title-font: "FuturaPT-Heavy", sans-serif;

// Styleguide Settings.Fonts
$text-font: "FuturaPT-Light", sans-serif;

// Styleguide Settings.Fonts
$btn-font: "FuturaPT-Medium", sans-serif;